---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Računalniški krožek 2023 / 24</h1>
      <h4>Python</h4>

      <p>
        Berete spletno stran za krožek računalništva, ki ga organizira
        <a href="https://gimtol.si/">Gimnazija Tolmin</a>
         v sodelovanju z podjetjem
        <a href="https://www.hidria.com/int/sl/">Hidria</a>.
      </p>
      <p>
        Prejšnje leto, smo obravnavali jezik <b>javascript</b>, spletna stran pa
        je <a href="https://gimtol-racunalniski-krozek.janvasiljevic.com/"
          >na voljo tukaj</a
        >. Če želite, si jo lahko ogledate.
      </p>

      <h2>Osnove informacije</h2>
      <ul>
        <li>
          <b>Gradivo</b> po tednih, je dostopno na strani <a href="/blog"
            >za gradivo</a
          >
        </li>
        <li>
          <b>Komunikacija</b> bo potekala na <a
            href="https://www.facebook.com/groups/915063632836456"
            >Facebook skupini</a
          >
        </li>
        <li>
          Plniran <b>urnik</b> je vsako soboto ob <b>10h</b>, v računalniški
          učilnici.
        </li>
      </ul>

      <h2>Kontakt</h2>
      <p>
        Za kakršnakoli uprašanja sva dosegljiva na <b>mail</b> ali <a
          href="https://m.me/ch/AbZ5lKVs9O3e_42U/">facebook chat</a
        >.
      </p>
      <ul>
        <li>
          <a href="mailto:lan.vukusic@gmail.com">lan.vukusic@gmail.com</a>
        </li>
        <li>
          <a href="mailto:matej.urbas00@gmail.com">matej.urbas00@gmail.com</a>
        </li>
      </ul>

      <div class="contact-holder">
        <div class="contact-card">
          <img
            src="https://avatars.githubusercontent.com/u/13378639?v=4"
            width="100%"
            srcset=""
          />
          <p>Lan Vukušič</p>
        </div>
        <div class="contact-card">
          <img
            src="https://avatars.githubusercontent.com/u/34211746?v=4"
            width="100%"
            srcset=""
          />
          <p>Matej Urbas</p>
        </div>
      </div>
    </main>
    <Footer />
    <style>
      .grayscale {
        filter: grayscale(780%);
      }

      .contact-holder {
        display: flex;
      }
      .contact-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contact-card > img {
        border-radius: 100%;
      }
      h2 {
        padding-top: 3rem;
      }
    </style>
  </body>
</html>
