---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div
      class=""
      style="background-image: url(https://godotengine.org/assets/showcase/blastronaut-1.webp);"
    >
      <div style="background-color: rgba(5, 27, 43, 0.5);  padding: 14rem 0;">
        <main style="">
          <h1
            style="color: white; text-shadow: rgba(0, 0, 0, 0.541) 1px 0 30px;"
          >
            Računalniški krožek 2024 / 25
          </h1>
          <div>
            <h4
              style="color: white; padding: 1rem 3rem; background-color: var(--secondary); "
            >
              Godot
            </h4>
          </div>
        </main>
      </div>
    </div>
    <main>
      <p>
        Berete spletno stran za krožek računalništva, ki ga organizira
        <a href="https://gimtol.si/">Gimnazija Tolmin</a>
        v sodelovanju z podjetjem
        <a href="https://www.hidria.com/int/sl/">Hidria</a>.
      </p>
      <p>
        Prejšnje leto, smo obravnavali jezik <b>javascript</b>, spletna stran pa
        je <a href="https://gimtol-racunalniski-krozek.janvasiljevic.com/"
          >na voljo tukaj</a
        >. Če želite, si jo lahko ogledate.
      </p>
      <p>
        Na volji je tudi starejša spletna strani za <a
          href="https://py.lanvukusic.com/">python</a
        >
      </p>

      <h2>Osnove informacije</h2>
      <ul>
        <li>
          <b>Gradivo</b> po tednih, je dostopno na strani <a href="/blog"
            >za gradivo</a
          >
        </li>
        <!-- <li>
          <b>Komunikacija</b> bo potekala na <a
            href="https://www.facebook.com/groups/915063632836456"
            >Facebook skupini</a
          >
        </li> -->
        <li>
          Plniran <b>urnik</b> je vsako soboto ob <b>10h</b>, v računalniški
          učilnici.
        </li>
      </ul>

      <h2>Kontakt</h2>
      <p>
        Za kakršnakoli uprašanja sva dosegljiva na <b>mail</b>.
      </p>
      <ul>
        <li>
          <a href="mailto:info@lanvukusic.com">info@lanvukusic.com</a>
        </li>
        <li>
          <a href="mailto:matej.urbas00@gmail.com">matej.urbas00@gmail.com</a>
        </li>
      </ul>

      <div class="contact-holder">
        <div class="contact-card">
          <img
            src="https://avatars.githubusercontent.com/u/13378639?v=4"
            width="100%"
            srcset=""
          />
          <p>Lan Vukušič</p>
        </div>
        <div class="contact-card">
          <img
            src="https://avatars.githubusercontent.com/u/34211746?v=4"
            width="100%"
            srcset=""
          />
          <p>Matej Urbas</p>
        </div>
      </div>
    </main>
    <Footer />
    <style>
      .grayscale {
        filter: grayscale(78%);
      }

      .contact-holder {
        display: flex;
      }
      .contact-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contact-card > img {
        border-radius: 100%;
      }
      h2 {
        padding-top: 3rem;
      }
    </style>
  </body>
</html>
